<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title><%=title%></title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Health Care Medical Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Novena HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
	
  <!-- 
  Essential stylesheets
  =====================================-->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/icofont/icofont.min.css">
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

	<!-- fontawsome link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body id="top">

<header>
	<%if(success_msg[0]){%>
		<h5 class="alert alert-success">
			<%=success_msg%>
		</h5>
		<%}%>
			<%if(error_msg[0]){%>
				<h5 class="alert alert-danger">
					<%=error_msg%>
				</h5>
				<%}%>
					<header>
						<%-include ('../layout/weblayout/topbar.ejs')%>
							

								<!-- navbar include -->
								<%-include('../layout/weblayout/navbar.ejs')%>
</header>

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">News details</span>
          <h1 class="text-capitalize mb-5 text-lg">Blog Single</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">News details</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
			
				<div class="col-lg-12 mb-5">
					<div class="single-blog-item">
						<img src="/<%=blog.image%>" alt="" class="img-fluid">
			
						<div class="blog-item-content mt-5">
							
							<div class="blog-item-meta mb-3 mt-4">
								<span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i><%= totalComments%></span>									
							</div>
							<h2 class="mb-4 text-md"><a href="blog-single.html"><%=blog.title%></a></h2>
			
							<p class="lead mb-4"><%=blog.data.slice(0, 70)%>!</p>
			
							<p><%=blog.data.slice(71, 300)%></p>
			
							<blockquote class="quote">
								<%=blog.data.slice(301, 380)%>
							</blockquote>
			
			
							<p class="lead mb-4 font-weight-normal text-black"><%=blog.data.slice(381, 480)%>
							</p>
			
							<p><%=blog.data.slice(481, 680)%></p>
			
							<!-- <div class="mt-5 clearfix">
								<ul class="float-left list-inline tag-option">
									<li class="list-inline-item"><a href="#!">Advancher</a></li>
									<li class="list-inline-item"><a href="#!">Landscape</a></li>
									<li class="list-inline-item"><a href="#!">Travel</a></li>
								</ul>
			
								<ul class="float-right list-inline">
									<li class="list-inline-item"> Share: </li>
									<li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
								</ul>
							</div> -->
						</div>
					</div>
				</div>
			
		
	
	<div class="col-lg-12">
		<div class="comment-area mt-4 mb-5">
			<h4 class="mb-4"><%= totalComments%> Comments on Healthy environment... </h4>
			<%comments.forEach((da)=>{%>
			<div class="row">
					
						<ul class="comment-tree list-unstyled">
					<li class="mb-5">
						<div class="comment-area-box d-block d-sm-flex">
							<div class="comment-thumb">
								<img alt=" " src="/<%=da.user.image%>" style="width: 70px">
							</div>
	
							<div class="block">
								<div class="comment-info">
									<h5 class="mb-1"><%=da.user.name%></h5>
									<span class="date-comm">Posted <%= new Date(da.createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
									
								</div>							
	
								<div class="comment-content mt-3">
									<p><%=da.comment%> </p>
								</div>
							</div>
						</div>
					</li>
				        </ul>			
				
					    <div class="col-3">
						<% if(user && user.email==da.user.email){%>
							<div style="margin: 5px; padding: 5px;">
								<button style="border: none; background-color: white;"><a href="/delete/<%=da._id%>?blogId=<%=da.post._id%>"><i class="fa-solid fa-trash"></i></a></button>
							</div>
							<%}%>
						
					</div>
				</div>
					<%})%>
				
				
			
		
	</div>
		</div>
	


	<div class="col-lg-12">
		<form class="comment-form my-5" id="comment-form" action="/commenddatastore/<%=blog._id%>" method="post">
			<h4 class="mb-4">Write a comment</h4>
			<textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5"
				placeholder="Comment"></textarea>

			<input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact"
				value="Submit Message">
		</form>
	</div>
</div>
      </div>
      <div class="col-lg-4">
		<div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	


	<div class="sidebar-widget latest-post mb-3">
		<h5>Popular Posts</h5>
		<%result.forEach((pos)=>{%>
			
		<div class="py-2">
			<span class="text-sm text-muted">
				Posted <%= new Date(pos.postCreatedAt).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
			</span>
			<h6 class="my-2"><a href="#"><%=pos.postTitle%></a></h6>
		</div>
		<%})%>
		
	</div>

	<div class="sidebar-widget category mb-3">
		<h5 class="mb-4">Categories</h5>
	  
		<ul class="list-unstyled">			
		  <% departments.forEach((da, index) => { %>			
			<li class="align-items-center">
			  <a id="link-<%= index %>" href="#" onclick="changeLink('<%= da %>', <%= index %>)"><%= da %></a>
			</li>
		  <% }) %>			
		</ul>
	  </div>
	  <script>
		function changeLink(department, index) {
		  // Get the corresponding <a> tag by its ID
		  const link = document.getElementById('link-' + index);
	  
		  // Set the href to the department's URL
		  const newHref = `/singleblog/${department}`;
		  link.href = newHref;
	  
		  // Optionally, redirect the user to the new URL
		  window.location.href = newHref;  // If you want to navigate immediately
		}
	  </script>




	<div class="sidebar-widget schedule-widget mb-3">
		<h5 class="mb-4">Time Schedule</h5>

		<ul class="list-unstyled">
		  <li class="d-flex justify-content-between align-items-center">
			<span>Monday - Friday</span>
			<span>9:00 - 17:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
			<span>Saturday</span>
			<span>9:00 - 16:00</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
			<span>Sunday</span>
			<span>Closed</span>
		  </li>
		</ul>

		<div class="sidebar-contatct-info mt-4">
			<p class="mb-0">Need Urgent Help?</p>
			<h3>+23-4565-65768</h3>
		</div>
	</div>

</div>
	  </div>
    </div>
  </div>
</section>




<!-- footer Include -->
<%-include('../layout/weblayout/footer.ejs')%>
   
   

    <!-- 
    Essential Scripts
    =====================================-->
    <script src="/plugins/jquery/jquery.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="/plugins/shuffle/shuffle.min.js"></script>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
    <script src="/plugins/google-map/gmap.js"></script>
    
    <script src="/js/script.js"></script>

  </body>
  </html>