<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- meta include  -->
    <%-include('../../layout/weblayout/meta.ejs')%>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Include Sidebar -->
    <%-include('../../layout/adminlayout/admin_sidebar.ejs')%>

        <!-- End of Sidebar -->         
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- navbar include -->
                 <%-include('../../layout/adminlayout/admin_navbar.ejs')%>

                <!-- navbae include -->
                <%if(success_msg[0]){%>
                    <h5 class="alert alert-success">
                        <%=success_msg%>
                    </h5>
                    <%}%>
                        <%if(error_msg[0]){%>
                            <h5 class="alert alert-danger">
                                <%=error_msg%>
                            </h5>
                            <%}%>
                                    <!-- Begin Page Content -->
                                    <div class="container-fluid" >

                                        <!-- Page Heading -->
                                        <h1 class="h3 mb-2 text-gray-800">Doctor's Form</h1>

                                        <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">

                                            <form id="#" class="appoinment-form" method="post" action="/admin/doctorinfo"
                                                enctype="multipart/form-data">

                                                <div class="row">
                                                    
                                                    
                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">Pearsonal Details</h4>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input name="name" id="name"  type="text"
                                                                class="form-control" placeholder="Dr. Full Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input name="phone" id="date" type="text"
                                                                class="form-control" placeholder="Dr. Phone No" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <input name="email" id="date" type="email"
                                                                class="form-control" placeholder="Dr. Email" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <select class="form-control" id="exampleFormControlSelect1"
                                                                name="gander" required>
                                                                <option>Choose Gendar</option>
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                                <option>Other</option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <select class="form-control" name="department"
                                                                id="exampleFormControlSelect1" required>
                                                                <option value="">Choose Dr. Department</option>
                                                                <%depertment.forEach((da)=>{%>
                                                                   
                                                                <option value="<%=da._id%>"><%=da._id%></option>
                                                               
                                                                <%})%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">

                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">Available Shift</h4>
                                                    </div>
                                                    <div id="shiftFields">
                                                        <div class="education-group">
                                                            <div class="row">
                                                                <!-- <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <input type="date" class="form-control" name="date[]" required>
                                                                    </div>
                                                                </div> -->
                                                                <div class="col-lg-5">
                                                                    <div class="form-group">
                                                                        <select class="form-control" name="day[]"
                                                                            required>
                                                                            <option value="">Day</option>
                                                                            <option value="Sunday">Sunday</option>
                                                                            <option value="Monday">Monday</option>
                                                                            <option value="Tuesday">Tuesday</option>
                                                                            <option value="Wednesday">Wednesday</option>
                                                                            <option value="Thursday">Thursday</option>
                                                                            <option value="Friday">Friday</option>
                                                                            <option value="Saturday">Saturday</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-5">
                                                                    <div class="form-group">
                                                                        <select class="form-control" name="time[]"
                                                                            required>
                                                                            <option value="">Time</option>
                                                                            <option value="7.30 AM - 9.00 AM">7.30 AM -
                                                                                9.00 AM</option>
                                                                            <option value="9.00 AM - 12.00 PM">9.00 AM -
                                                                                12.00 PM</option>
                                                                            <option value="4.00 PM - 6.30 PM">4.00 PM -
                                                                                6.30 PM</option>
                                                                            <option value="7.00 PM - 9.30 PM">7.00 PM -
                                                                                9.30 PM</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <button type="button"
                                                                        class="btn btn-danger remove-shift"
                                                                        style="display: none;">-</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Button to add more education fields -->
                                                    <div>
                                                        <button type="button" id="addShift"
                                                            class="btn btn-success">+</button>
                                                    </div>

                                                    <!-- JavaScript to Handle Dynamic Fields -->
                                                    <script>
                                                        document.getElementById("addShift").addEventListener("click", function () {
                                                            let container = document.getElementById("shiftFields");
                                                            let newField = container.firstElementChild.cloneNode(true);

                                                            // Clear input values in the cloned field
                                                            newField.querySelectorAll("input, select").forEach(input => input.value = "");

                                                            // Show the remove button for the new entry
                                                            newField.querySelector(".remove-shift").style.display = "inline-block";

                                                            // Add event listener to the remove button
                                                            newField.querySelector(".remove-shift").addEventListener("click", function () {
                                                                newField.remove();
                                                            });

                                                            container.appendChild(newField);
                                                        });
                                                    </script>

                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">Educational Details
                                                        </h4>
                                                    </div>

                                                    <div id="educationFields">
                                                        <div class="education-group">
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <input name="university[]" type="text"
                                                                            class="form-control"
                                                                            placeholder="University Name" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <input name="passing_year[]" type="text"
                                                                            class="form-control"
                                                                            placeholder="Passing Year" required>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control" name="degree[]"
                                                                            required>
                                                                            <option value="">Choose Degree</option>
                                                                            <option value="Diploma">Diploma</option>
                                                                            <option value="M.B.B.S">M.B.B.S</option>
                                                                            <option value="M.D">M.D</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <button type="button"
                                                                        class="btn btn-danger remove-education"
                                                                        style="display: none;">Remove</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Button to add more education fields -->
                                                    <div>
                                                        <button type="button" id="addEducation"
                                                            class="btn btn-success">+ Add More</button>
                                                    </div>

                                                    <!-- JavaScript to Handle Dynamic Fields -->
                                                    <script>
                                                        document.getElementById("addEducation").addEventListener("click", function () {
                                                            let container = document.getElementById("educationFields");
                                                            let newField = container.firstElementChild.cloneNode(true);

                                                            // Clear input values in the cloned field
                                                            newField.querySelectorAll("input, select").forEach(input => input.value = "");

                                                            // Show the remove button for the new entry
                                                            newField.querySelector(".remove-education").style.display = "inline-block";

                                                            // Add event listener to the remove button
                                                            newField.querySelector(".remove-education").addEventListener("click", function () {
                                                                newField.remove();
                                                            });

                                                            container.appendChild(newField);
                                                        });
                                                    </script>

                                                    <div class="col-lg-6">
                                                        <textarea name="message" id="message" class="form-control"
                                                            rows="2"
                                                            placeholder="Your Message About Dr.Skills etc." required></textarea>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">Experience</h4>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <input name="experience" id="time" type="number"
                                                                class="form-control" placeholder="Experience">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">About Doctor's</h4>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <textarea name="introduction"  
                                                            class="form-control" rows="4"
                                                            placeholder="Your Message" required></textarea>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <h4 style="margin: 10px; padding: 10px;">Doctor's Image</h4>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <input name="image" id="name" type="file"
                                                                class="form-control" placeholder="Experience" required>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                                            style="padding: 20px 0px;">
                                            <button type="submit" class="btn btn-primary ">Submit</button>
                                        </div>
                                        </form>
                                    </div>
            </div>
            <!-- End of Main Content -->

               <!-- Footer -->
 <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Required JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>