<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <%-include('../../layout/weblayout/meta.ejs')%>
        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
   
        <!-- Page Wrapper -->
         <!-- sidebar -->
<%-include ('../../layout/weblayout/sidebar.ejs')%>
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content" >
                    <!-- navbae include -->
                    <%if(success_msg[0]){%><h5 class="alert alert-success"> <%=success_msg%></h5><%}%>
                    <%if(error_msg[0]){%> <h5 class="alert alert-danger"><%=error_msg%></h5><%}%>
                    <!-- navbar include -->
                    <%-include('../../layout/weblayout/navbar.ejs')%>
                    <hr>
                       <!-- Begin Page Content -->
                <div class="container-fluid mt-5" style="color: black; ">

                    <!-- Page Heading -->
                   
                    
                    <div class="container rounded bg-white mt-5 mb-5" >
                        <div class="row" >
                        
                            <div class="col-md-3 border-right" >
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="100px" src="/<%=data.image%>" alt="IMAGE"><br><span class="font-weight-bold"><%=data.name%></span><span class="text-black-50"><%=data.email%></span><span> <%=data.phone%></span> <span></span></div>
                            </div>
                            <div class="col-md-9">
                              <div  style="display: flex; justify-content: flex-end;">
                                <a href="/dashboard/profile/edit"  style="background-color: rgb(108, 187, 23); padding: 5px; margin-top: 5px; border-radius: 10px; color: antiquewhite;">Edit Profile</a>
                              </div>   
                                <div class="p-3 py-5" >
                                                                                                                     
                                    <div class="col-lg-12" >
                                      <div class="row">
                                        <div class="col-lg-6">
                                          <h3>Personal Information</h3>
                                          <ul>
                                           
                                            <li><span style="color: black; padding-left: 20px;"><b> Full
                                                        Name :-
                                                    </b><%- data.name ? data.name : ' Guest' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b>Date
                                                        of Birth:-
                                                    </b><%- data.dateofbirth ? new Date(data.dateofbirth).toLocaleDateString()
                                                        : ' 0000.00.00' %></span></li>
                                            <li><span style="color: black; padding-left: 20px;"><b>Gender
                                                        :-
                                                    </b><%- data.gender ? data.gender : 'Not Known'
                                                        %></span></li>
                                            <li><span style="color: black; padding-left: 20px;"><b>Marital
                                                        Status :-
                                                    </b><%- data.maritalstatus ? data.maritalstatus
                                                        : 'Not Known' %></span></li>
                                            
                                        </ul>
                                        </div>
                                        <div class="col-lg-6">
                                          <h3>Contact Information</h3>
                                          <ul>
                                        
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                   Phone :-
                                                    </b><%- data.phone ? data.phone : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                   Email :-
                                                    </b><%- data.email ? data.email : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                    Alternative Phone :-
                                                    </b><%- data.altphone ? data.altphone : ' ' %></span>
                                            </li>
                                            
                                            
                                          
                                            
                                        </ul>
                                        </div>
                                      </div>                                    
                                      <div class="row">
                                        <div class="col-lg-6">
                                          <h3>Madical Histroy</h3>
                                          <ul>
                                           
                                            <li><span style="color: black; padding-left: 20px;"><b> Full
                                                        Blood Group :-
                                                    </b><%- data.blood_group ? data.blood_group : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b>Physical Disability:-
                                                    </b><%- data.physical_disability ? data.physical_disability
                                                        : ' ' %></span></li>
                                            
                                        </ul>
                                        </div>
                                        <div class="col-lg-6">
                                          <h3>Address</h3>
                                          <ul>
                                           
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                  Street :-
                                                    </b><%- data.address.street ? data.address.street : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                  City :-
                                                    </b><%- data.address.city ? data.address.city : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                  State :-
                                                    </b><%- data.address.state ? data.address.state : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                  Zip :-
                                                    </b><%- data.address.zip ? data.address.zip : ' ' %></span>
                                            </li>
                                            <li><span style="color: black; padding-left: 20px;"><b> 
                                                  Country :-
                                                    </b><%- data.address.country ? data.address.country : ' ' %></span>
                                            </li>
                                            
                                        </ul>
                                        </div>
                                      </div>                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    </div>
                    <!-- Content Row -->
                    

                        <!-- Footer -->
                        <%-include('../../layout/weblayout/dashboard_footer.ejs')%>
                        
                        <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

           

            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="js/demo/datatables-demo.js"></script>

</body>

</html>